[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
stable-ts = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = " fastapi dev main.py"
start = "fastapi run main.py --port 80"
